@import 'mixins';




/* This is Vault Boy's skin. */
#vb_frontarm_lowerhalf, #vb_frontarm_upperhalf, .vb_frontarm_hand, .vb_hair, .vb_beard, .vb_face, #vb_chest, #vb_frontleg_upperhalf, #vb_frontleg_lowerhalf, #vb_frontleg_foot, #vb_crotch, #vb_backleg_upperhalf, #vb_backleg_lowerhalf, #vb_backleg_foot, #vb_backarm_upperhalf, #vb_backarm_lowerhalf, .vb_backarm_hand {
	position: absolute;
}


.vb_beard {
	/*left: -4px;*/
	left: 0px;
	top: 0px;
	width: 95px;
    height: 105px;
	z-index: 73;
	/*background-color: rgba(255,255,255,1);*/
}

.vbs_frontarm_glove, .vb_frontarm_hand { //Keep this seperate from Vault-Girl classes.


	}




// #left_blink {
// 	left: 0px;
// 	top: -20px;
// 	width: 50px;
// 	height: 50px;
// 	position: absolute;
// 	background-color: #ddd2a2;
// }

// #right_blink {

// }




#vb_chest {
	z-index: 50;
}

#vb_frontleg_upperhalf {
	z-index: 42;
}

#vb_frontleg_lowerhalf {
	z-index: 41;
}

#vb_frontleg_foot {
	z-index: 40;
}

#vb_crotch {
	z-index: -30;
}

#vb_backleg_upperhalf {
	z-index: 22;
}

#vb_backleg_lowerhalf {
	z-index: 21;
}

#vb_backleg_foot {
	z-index: 20;
}

#vb_backarm_lowerhalf {
	z-index: 13;
}

#vb_backarm_upperhalf {
	z-index: 12;
}

.vb_backarm_hand {
	z-index: 11;
}




#Gy39 {
  /*background-image: url('./screenshots/IMG_3504.PNG');*/
  background-image: url('../screenshots/Male/Guy39.jpg');
    width: 215px;
  height: 420px;
  position: absolute;
  left: 125px;
  top: 294px;
  z-index: 1000;
  
/*  opacity: 0;
  opacity: 1;
*/    opacity: .5;
  background-size: 90%;
}