@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
  margin: 0 auto;
  padding: 0;
  font-family: monoFonto, 'Roboto Condensed', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}



#container {
  top: 2em;
  position: relative;
  margin: 0 auto 30px auto;
  text-align: center;
  width: 800px;
  /*max-width: 1200px;*/
  /*background-color: rgb(0, 0, 0, 0.9);*/
  /*min-height: 1630px;*/
  padding: 15px 35px;
  color: #00ff2b;
  overflow: hidden;




}

.atlas01, .atlas02, .atlas03, .atlas04, .atlas05, .atlas06, .atlas07, .atlas08, .atlas09, .atlas10, .atlas16, .atlas17, .atlas18, .atlas21 {
  background-repeat: no-repeat;
}

#logo {
  margin: 25px;
}

#logo img {
  max-width: 300px;
  height:auto;
 /*background: rgb(13,66,8, .8);*/
  padding: 25px;
  transition: 0.5s;
}

#logo h1 {
  margin: 0;
  font-size: 100%;
  font-weight: lighter;
	font: inherit;
	vertical-align: baseline;
	letter-spacing: 2px;
  font-size: 50px;
  	font-family: monoFonto, 'Roboto Condensed', futuraCondensedPT, Overseer, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
	color: #00ff2b;
text-shadow: 0 0 5px #003308, 0 0 10px #003308, 0 0 15px #B2FFBF, 0 0 20px #233326;
transition: 0.5s;
}

#mainButtons, #genderRaceAgeButtons, #mainSelections {
	font-family: 'Roboto Condensed', monoFonto, futuraCondensedPT, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

#mainButtons {
	margin: 25px;
	padding: 16px 8px;
	position: relative;
	/*border: #00ff2b solid;*/
  /*border-right: 0px;
  border-left: 0px;*/
	/*background: rgb(3,27,1, .6);*/
	background: rgb(13,66,8, .8);
	color: #00ff2b;
	float: right;
}




.mainTopSideBorders, .mainBottomSideBorders {
  width: 360px;
  height: 20px;
}

.minorTopSideBorders, .minorBottomSideBorders {
  width: 290px;
  height: 20px;
}




.mainTopSideBorders, .mainBottomSideBorders, .minorTopSideBorders, .minorBottomSideBorders {
  margin: 0px;
  padding: 0px;
  /*background-color: rgba(200,50,50,.5);*/
  position: absolute;
  border: 3px #00ff2b solid;
}

.mainTopSideBorders, .minorTopSideBorders {
  left: 0px;
  top: 0px;
  border-bottom: 0px;
}



.mainBottomSideBorders, .minorBottomSideBorders {
  left: 0px;
  bottom: 0px;
  border-top: 0px;
}



#mainSelections {
	margin: 10px 25px;
  min-width: 350px;
		/*width: 350px;*/
	padding: 16px 8px;
	position: relative;
	/*border: 3px #16ce15 solid;*/
	background: rgb(13,66,8, .8);
	color: #00ff2b;
	font-size: 20px;
	right: 0px;
	float: right;
    margin: 10px 25px 70px 25px;
}



#genderRaceAgeSelections {
	  margin: 10px 25px;
  /*width: 280px;*/
  min-width: 280px;
  padding: 16px 8px;
  position: relative;
  /*border: 3px #16ce15 solid;*/
  /*background: rgb(3,27,1, .6);*/
  background: rgb(13,66,8, .8);
  color: #00ff2b;
  float: left;
}



.leftCol, .rightCol {
	margin: 0 auto;
	background-color: reed;
	width: 80px;
}


.leftCol {
	font-size: 30px;
	text-align: righdt;
}

.rightCol {
	text-align: left;
}





.genderText, .btnRandom {
	font-size: 30px;
	font-family: monoFonto, futuraCondensedPT, 'Roboto Condensed', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.btnRandom {
	margin: 0 auto;
	padding: 8px 10px;
	/*border: 1px #16ce15 solid;*/
}





#avatarWindow {
  margin: 25px;

  position: relative;
  width: 200px;
  height: 350px;
  
  /*//left: 500px;*/
  z-index: 60;
  /*opacity: 1;*/
  border: cyan 1px solid;
  background: transparentize(#083d42, 0.2);
  float: left;
  
  width: 300px;
  text-align: center;
  /*background: white;*/
  height: 500px;


}

#falloutPerson {
  position: relative;
/*  width: 500px;
  height: 500px;
  left: -8px;
*/  z-index: 50;
  opacity: 1;
  margin: 0 auto;
  width: 175px;
  height: 375px;
    top: 50px;
    border: 1px solid pink;
    padding: 10px;
    background-color: white;

}

#minorButtons {
  margin: 10px 25px;
  max-width: 280px;
  padding: 16px 8px;
  position: relative;
  /*border: 3px #16ce15 solid;*/
  /*background: rgb(3,27,1, .6);*/
  background: rgb(13,66,8, .8);
  color: #00ff2b;
  float: left;
}


#minorButtons, #genderRaceAgeSelections {
  margin: 10px 25px;
}


 #mainButtons {
margin: 25px 25px 10px 25px;
  }




@media  all and (max-width:850px) {
  #container {
    max-width: 80%;
  }

  #logo {
    margin: 0px;
  }

  #logo img {
  max-width: 280px;
  padding: 0px;
  transition: 0.5s;
}

#logo h1 {
  font-size: 40px;
  transition: 0.5s;
}

  #avatarWindow, #mainButtons, #mainSelections, #minorButtons, #genderRaceAgeSelections {
    margin: 20px auto;
    float: none;
    transition: 0.5s;
  }

  #mainButtons, #mainSelections, #minorButtons, #genderRaceAgeSelections {
    min-width: 280px;
    max-width: 80%;
    transition: 0.5s;
  }


  .mainTopSideBorders, .mainBottomSideBorders, .minorTopSideBorders, .minorBottomSideBorders {
    width: 98.5%;
  }

  .styleType {
    font-size: 20px;
    transition: 0.5s;
  }

  #container, #avatarWindow, #mainButtons {
    transition: 0.5s;
  }
}